* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
    &:focus,
    &:active {
        outline: 0;
    }
}

html {
    font-size: 1vw;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    height: 100%;
}

body {
    font-family: $main-font, serif;
    line-height: normal;
    font-weight: 400;
    background: $body-bg;
    color: $milk;

    &.menu-open {
        overflow: hidden;
    }
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: $duration;
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
    &:active,
    &:focus {
        outline: 0;
    }
}

p {
    margin-bottom: 0;
}

img {
    display: block;
    flex-shrink: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button {
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    &:hover {
        cursor: pointer;
    }
    &:active,
    &:focus {
        outline: 0;
    }
}
label {
    cursor: pointer;
}

input,
textarea {
    font-family: $main-font;
    &::placeholder {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        opacity: 1;
    }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

b,
strong {
    font-weight: 600;
}

svg {
    display: inline-block;
}

iframe {
    border: 0;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header,
main,
content {
    width: 100%;
}

main {
    flex-grow: 1;
}

ul, ol {
    list-style: none;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $container-padding-x-desktop;
    @include mobile {
        max-width: 100%;
        box-sizing: border-box;
        padding: 0 $container-padding-x-mobile;
    }
    &.grey {
        background-color: $grey-bg;
        border-radius: $block-border-radius-desktop;
    }
}

