$main-font: 'Roboto';
$title-font: 'Fira sans';

$duration: 0.3s;

$body-bg: #000;

$grey: #666;
$grey-bg: #242424;
$grey-border: #3a3a3a;
$grey-900: #111827;

$red: #AC1D37;
$blue: #2330B8;
$blue-disable: #6068B9;
$milk: #ECECEC;

$block-border-radius-desktop: rem(46);
$block-border-radius-mobile: mobrem(40);

$container-padding-x-desktop: rem(40);
$container-padding-x-mobile: mobrem(20);

$library-article-big-radius: rem(200);
$library-article-big-radius-mobile: mobrem(100);

$products-grid-gap: rem(20);
$products-grid-gap-mobile: mobrem(20);

$banner-big-radius: rem(190);
$banner-big-radius-mobile: mobrem(100);

$banner-offset-top-mobile: mobrem(160);

$block-padding-y-desktop: rem(100);
$block-padding-y-mobile: mobrem(80);