$main-font: 'Roboto';
$title-font: 'Akumin Pro';

$duration: 0.3s;

$body-bg: #000;

$grey: #666;
$grey-bg: #242424;
$grey-900: #111827;

$red: #AC1D37;
$blue: #2330B8;
$blue-disable: #6068B9;
$milk: #ECECEC;

$block-border-radius-desktop: rem(46);
$block-border-radius-mobile: mobrem(40);

$container-padding-x-desktop: rem(40);
$container-padding-x-mobile: mobrem(20);

$library-article-big-radius: rem(200);

$products-grid-gap: rem(20);